VGLPP Demo.xcodeproj/xcuserdata/mike.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
windows/VGLPP/Debug/*
windows/VGLPP/Release/*
windows/VGLPP/VGLPP/Release/*
windows/VGLPP/VGLPP/Debug/*
windows/VGLPP/ipch/*
windows/VGLPP/*.sdf
windows/VGLPP/*.opensdf